<h1>EDITOR BOARD</h1>

<p>Logged in as: <%= cookies[:user_name] %></p>

<% @posts.each do |p| %>
<p><%= p.message %>- - - - -by <b><%= p.by %></b>
    <% if p.by == cookies[:user_name] %>
    <%= link_to 'Delete', editor_path(p), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <%= p.created_at %></p>
<% end %>

<%= link_to 'New Post', new_editor_path %>
<%= link_to 'Logout', login_index_path %>
